h1
{
    color:rgb(130, 183, 44);
    text-align:center;
    
}
body
{
	background-color:rgb(224, 214, 121);
}
h3
{
    color:rgb(165, 186, 138);
   
    
}
h2
{
    color:rgb(139, 23, 168);
   
    
}
